<div class="navbar navbar-fixed-top" role="navigation" id="navbar">
	<div class="container">
		
		<!-- header -->
		<div class="navbar-header">
			
			<!-- menu icon -->
			<div class="menuicon pull-left">
				<button type="button" id="menubutton" class="btn"><i class="fa fa-bars glyphicon glyphicon-bars"></i></button>
			</div>
			
			<!-- search icon -->
			<div class="searchicon pull-right">
				<button type="button" id="searchbutton" class="btn"><i class="fa fa-search glyphicon glyphicon-search"></i></button>
			</div>
			
			<!-- logo -->
			<a class="navbar-brand" data-url="home"><span class="colorblack">EU</span>SCREEN<span class="colorred">XL</span></a>
			<!-- <a class="navbar-brand" href="#">EUSCREENXL</a> -->
			
			<!-- form -->
			<form class="navbar-form navbar-left" id="headerform" role="search">
                <div class="form-group">
                    <a class="search-all-link" href="http://www.euscreen.eu/search.html?query=*"><i class="fa fa-search glyphicon glyphicon-search" title="search on * to browse the complete collection (all items)"></i></a>
                    <input type="text" class="form-control" placeholder="Search the collection">
                </div>
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search fa fa-search"></span></button>
            </form>
		</div>
		
		<!-- collapse -->
		<div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
			
			<!-- navigation -->
			<ul class="nav navbar-nav navbar-right">
                <li id="header-link-home"><a data-url="home">HOME</a></li>
                <li id="header-link-about"><a data-url="about">ABOUT</a></li>
                <li id="header-link-myeuscreen"><a data-url="myeuscreen" data-experimental="true">MYEUSCREEN</a></li>
            </ul>
		</div>
		
		<!-- my euscreen thumbnail, will be shown only when user has logged in on every page except on desktop -->
		<div class="user-thumbnail hidden-xs hidden-sm">
			<!--
        	<a role="button" data-toggle="dropdown" data-target="login-action" href="/myeuscreen.html">
				<img src="/eddie/apps/euscreenxlelements/img/ic-user.jpg" alt="User"/>
				<span class="frame"></span> <span class="status-icon"></span>
			</a>
			-->
              	
            <!-- drop down -->
     		<ul id="login-action" class="dropdown-menu pull-right" role="menu" aria-labelledby="login-action">
				<li><a data-url="myeuscreen" data-experimental="true" value="TITLE">MYEUSCREEN</a></li>
				<li><a href="#" value="YEAR">LOGOUT</a></li>
			</ul>
     	</div>
	</div>
</div>
