<div class="container">
	
	<!-- footer content -->
    <div class="row">
        <div class="col-md-6 col-sm-7">
        	<span class="links">
                <ul class="list-inline">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about.html">About</a></li>
                    <li><a href="/terms.html" class="no-prod">Terms of Use</a></li>
                    <li><a href="/privacy.html" class="no-prod">Privacy</a></li>
                    <li><a href="/contact.html" class="no-prod">Contact</a></li>
                </ul>
            </span>
            <span class="footer-note">Funded by the European Commission within the eContentplus programme</span>
        </div>
        <div class="col-md-6 col-sm-5">
            <div class="affiliates">
                <ul class="list-inline">
                	<li class="europeana"></li>
                	<li class="europeancomission"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
