<div class="container">
	
	<!-- footer content -->
    <div class="row">
        <div class="col-md-6 col-sm-7">
        	<span class="links">
                <ul class="list-inline">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about.html">About</a></li>
                    <li><a href="/terms.html">Terms of Use</a></li>
                    <li><a href="/privacy.html">Privacy</a></li>
                    <li><a href="/contact.html">Contact</a></li>
                </ul>
            </span>
            <span class="footer-note">Funded by the European Commission within the eContentplus programme</span>
        </div>
        <div class="col-md-6 col-sm-5">
            <div class="affiliates">
                <ul class="list-inline">
                	<li class="europeana"><a href="http://www.europeana.eu" target="_blank"></a></li>
                    <li class="europeancomission"><a href="http://ec.europa.eu/index_en.htm" target="_blank"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
