<ul class="main">
	<li class="active"><a href="/">HOME</a></li>
	<li><a href="/about.html" class="no-prod">ABOUT</a></li>
	<li><a href="/myeuscreen.html" class="no-prod">MYEUSCREEN</a></li>
</ul>
<ul class="secondary">
	<li><a href="/terms.html" class="no-prod">Terms of use</a></li>
	<li><a href="/privacy.html" class="no-prod">Privacy</a></li>
	<li><a href="/contact.html" class="no-prod">Contact</a></li>
</ul>
<span class="info">
	Euscreen is founded by the European Comission within the eContentplus programme. 
</span>