<script type="text/template" id="ad_template_1">
	<span class="wrap">
		<a href="content-map.html">
			<span class="text">
				EXPLORE EUSCREEN ON A MAP
			</span>
		</a>
	</span>
	<img src="/eddie/apps/euscreenxlelements/img/content/advertising/itempage_map.png" class="img-responsive">
</script>
<script type="text/template" id="ad_template_2">
    <span class="wrap">
        <a href="myeuscreen.html">
            <span class="text">
                SIGN UP FOR MYEUSCREEN
            </span>
        </a>
    </span>
    <img src="/eddie/apps/euscreenxlelements/img/content/advertising/itempage_sign.png" class="img-responsive">
</script>
<script type="text/template" id="ad_template_3">
	<span class="wrap">
        <a href="about.html">
            <span class="text">
                LEARN ABOUT EUSCREEN
            </span>
        </a>
    </span>
    <img src="/eddie/apps/euscreenxlelements/img/content/advertising/itempage_about.png" class="img-responsive">
</script>

<div class="ads col-md-12 hidden-sm	hidden-xs">
	
</div>

