<div id="copyrightBox">
	<span class="dismiss">
		<a title="dismiss this notification">x</a>
	</span>
	<div>
		EUscreen offers thousands of items of film and television clips, photos and texts provided by audiovisual archives from all over Europe.
		<br /><br />
		Are you interested in using a clip from our collection? Please go to the item page and click on the copyright symbol (&copy;) under the video player and then click "contact the provider" and you can fill a form wherein you can ask for the rights to reuse it.
	</div
</div>
