<div class="overlay">
	<div class="contents">
		<h1>EUSCREEN MOBILE PORTAL/BETA VERSION</h1>
		<h2>BY NOTERIK / VERSION 0.1 / AUG 2014</h2>
		<hr>
		<p>
			This beta version of the new EUscreen portal is released in order to test the basic 'item approval workflow'. Within this workflow a Content Provider (CP) uses <a href="http://preview.euscreen.eu/" target="_blank">the preview tool</a> to review an item and then approve it, when it is ready to publish it on new EUscreen portal. 
			<br /><br />
			This limited version of the portal contains a functional search page and a functional item page (playout page). Other pages, like home, about and serie pages are still under construction and will be added later.
			<br /><br />
			The list of available items on the portal are limited on this beta version. This is because the items first need to be approved for publication by the CP before they are shown. 
			<br /><br />
			Disclaimer: This demo is work in progress and may thus not work perfectly.
			<br /><br />
			For further inquiries, please contact:
			<br />
			Rutger Rozendal / r.rozendal@noterik.nl
			<br />
			Noterik / www.noterik.nl
		</p>
	</div>
</div>
