<!-- update browser-->
<!--[if lt IE 7]>
	<div class="browsehappy alert alert-info alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		You are using an <strong>outdated</strong> browser.
		Please <a class="alert-link" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
	</div>
<![endif]-->

<!-- warning on firefox user -->
<div class="warning-playout">
	<div class="browsehappy alert alert-warning alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		Unfortunally this browser does not support the video streaming format of the EUscreen portal. <br/> 
		Please use another browser such as Google Chrome to work with the EUscreen portal. 
		<a class="alert-link" href="http://browsehappy.com/">Click here to download Chrome</a>.
	</div>
</div>