@import "/eddie/apps/euscreenxlelements/css/bootstrap.css";
@import "/eddie/apps/euscreenxlelements/css/font-awesome.min.css";
@import "/eddie/apps/euscreenxlelements/css/theme.css";
@import "/eddie/apps/euscreenxlelements/css/all.css";
@import "/eddie/apps/euscreenxlelements/css/terms.css";

#synctime{
	display: none;
}

.break-word{
	word-wrap: break-word;
}

#mobilenav{
	z-index: 9999;
}

.warning-playout{
	display: block;
}

.media-player .loading{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	background-image: url(/eddie/apps/euscreenxlelements/img/spinner.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
