@import "/eddie/apps/euscreenxlelements/css/bootstrap.css";
@import "/eddie/apps/euscreenxlelements/css/font-awesome.min.css";
@import "/eddie/apps/euscreenxlelements/css/theme.css";
@import "/eddie/apps/euscreenxlelements/css/all.css";
@import "/eddie/apps/euscreenxlelements/css/terms.css";

#synctime{
	display: none;
}

.break-word{
	word-wrap: break-word;
}

#mobilenav{
	z-index: 9999;
}

.warning-playout{
	display: block;
}
