#videocopyright {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	height: 100%;
	width: 100%;
	z-index: 9999;
}
#videocopyright #copyrightBox {
    position:relative;
    width:100%;
    height: 100%;
    z-index:105;
    text-align:center;
    font-weight:normal;
    font-size:14px;
    color:white;
    background-color:#CE6E93;
    padding:5px 10px 5px 5px;
	font-family: 'Proxima Nova', sans-serif;
}
#videocopyright #copyrightBox div {clear:both;}
#videocopyright #copyrightBox span.dismiss {
    border:1px solid #FFF;
    padding:0 5px;
    cursor:pointer;
    float:right;
    margin-left:10px;
    margin-bottom: 5px;
}
#videocopyright #copyrightBox span.dismiss a {
    color:#fff;
    text-decoration:none;
    font-weight:bold
}
#videocopyright #copyrightBox a {
	color:#fff;
	text-decoration:underline;
}
